<%= simple_form_for(@status_update) do |f| %>
  <%= f.error_notification %>

  
  <div class="form-group">
    <%= f.input :status_update, input_html: { class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
