
<div class="jumbotron">
<h1><i class="fa fa-group"></i> The Startup Community</h1>

<p class="lead">Join now to connect with like-minded tech entrepreneurs and grow your startup's brand.</p>

<h2>Why should you join?</h2>
<ol>
<li>Create a profile for yourself - have it viewed by journalists, potential co-founders or investors.</li>
<li>Let people know your startup exists</li>
<li>Connect and network with other entrepreneurs who share your interests</li>
<li>Share the latest news for your startup</li>
<li>Tell people about your upcoming events</li>
<li>Ask and answer startup questions</li>
<li>Join groups of local entrepreneurs</li>
</ol>
</div>